<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xmlns:beans="http://www.springframework.org/schema/beans"
			xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
						http://www.springframework.org/schema/mvc/spring-mvc.xsd
						http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 第一个处理器适配器 所有处理器适配器都实现 HandlerAdapter接口 -->
	<beans:bean
		class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />
	<!-- 第二个另一个非注解的适配器 -->
	<beans:bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/>
		
	<!-- 配置handler -->
	<beans:bean id="itemsController1" name="/queryItems.action" class="com.zeek.springmvc.ItemsController1" />
	
	<!-- 配置另外一个Handler -->
	<beans:bean id="itemsController2" class="com.zeek.springmvc.ItemsController2" />
	
	<!-- 处理器映射器 --> 
	<!-- 第一个处理器映射器. 将bean的name作为url进行查找 ，需要在配置Handler时指定beanname（就是url）-->
	<beans:bean
		class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />
		
	<!--注解映射器 -->
	<!-- <beans:bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/> -->
	<!--注解适配器 -->
	<!-- <beans:bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/> -->
	<!-- 使用 mvc:annotation-driven代替上边注解映射器和注解适配器配置
			mvc:annotation-driven默认加载很多的参数绑定方法，
			比如json转换解析器就默认加载了，如果使用mvc:annotation-driven不用配置上边的RequestMappingHandlerMapping和RequestMappingHandlerAdapter
			实际开发时使用mvc:annotation-driven
	 -->
	<mvc:annotation-driven />
	
	<!-- 对于注解的Handler可以通过<bean>元素单个配置（如下）,但是在
	实际开发中建议使用组件扫描
	 -->
	<!-- <bean class="com.zeek.springmvc.ItemsController3" /> -->
	<!-- 可以扫描controller、service、...
	这里让扫描controller，指定controller的包
	 -->
	<context:component-scan base-package="com.zeek.springmvc"></context:component-scan>
	
		
	<!--  第二个处理器映射器.配置简单URL处理器映射器 -->	
	<beans:bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" >
		<beans:property name="mappings">
			<beans:props>
				<beans:prop key="queryItems1.action">itemsController1</beans:prop>
				<beans:prop key="queryItems2.action">itemsController1</beans:prop>
				<beans:prop key="queryItems3.action">itemsController2</beans:prop>
			</beans:props>
		</beans:property>
	</beans:bean>

	<!-- 视图解析器
	解析jsp解析，默认使用jstl标签，classpath下的得有jstl的包
	 -->
	<beans:bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="prefix" value="/WEB-INF/jsp/" /><!-- 配置视图解析器的前缀 -->
		<beans:property name="suffix" value=".jsp" /><!-- 配置视图解析器的后缀 -->
	</beans:bean>

</beans:beans>
